groups:
  - name: example
    rules:
      - alert: HighCPULoad
        expr: 100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle"}[1m])) * 100) > 70
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "High CPU Load (instance {{ $labels.instance }})"
          description: "CPU load is above 70% (current value: {{ $value }}%)"

      - alert: HighMemoryUsage
        expr: (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / node_memory_MemTotal_bytes * 100 > 70
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "High Memory Usage (instance {{ $labels.instance }})"
          description: "Memory usage is above 70% (current value: {{ $value }}%)"
